<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <link rel="stylesheet" href="index.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Activity Store</title>
</head>
<body>
    <section id="app">
        <header>
            <h1>{{sitename}}</h1>
        </header>
        <!-- Main tag -->
        <main>
            <!-- Main page that shows all the courses from index.js-->
            <section id="main_page" v-if="showCourses">
                <section style="display: flex; flex-direction: row; width: 100%; height: 100%;">
                    <!-- Filters -->
                    <section style="width: 30%;">
                        <h3>Filter & Order</h3>
                        <!-- div element to encapsulate the sorting div and order div -->
                        <div id="filters" style="display:flex; flex-direction: column; align-self: flex-start; width: 100%;">
                            <h3 style="margin: 0.5rem 0;">Filter</h3>
                            <!-- div element to encapsulate the sorting input radios -->
                            <div id="sort">
                                <div v-for="(value, key) in sort_dict">
                                    <input type="radio" name="sort" value="key" v-if="value.checked" checked v-on:click="sort(key)">
                                    <input type="radio" name="sort" value="key" v-else v-on:click="sort(key)">
                                    <label for="sort">{{key}}</label>
                                </div>
                            </div>
                            <h3 style="margin: 0.5rem 0;">Order</h3>
                            <!-- div element to encapsulate the order input radios -->
                            <div id="order">
                                <div v-for="(value, key) in order_dict">
                                    <input type="radio" name="order" value="key" v-if="value.checked" checked v-on:click="order(key)">
                                    <input type="radio" name="order" value="key" v-else v-on:click="order(key)">
                                    <label for="order">{{key}}</label>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Checkout & Search -->
                    <section style="width: 100%; height: 100%; display: flex; flex-direction: column;">
                        <div style="width: 100%; display: inline-flex; align-items: center; justify-content: flex-start;">
                            <div style="align-self: flex-end; margin-right: 2rem; ">
                                <button style="font-size: 1.15rem;" v-if="canRemoveFromCart" v-on:click="showCheckout">
                                    {{cartItemCount}}
                                    <i class="bx bx-cart"></i>
                                    Checkout
                                </button>
                                <button style="font-size: 1.15rem;" disabled="disabled" v-else>
                                    {{cartItemCount}}
                                    <i class="bx bx-cart"></i>
                                </button>
                            </div>
                            <div id="search">
                                <input type="text" v-bind:placeholder="searchTerm" v-if="search" v-model="searchInput" v-on>
                                <button v-on:click="search"><i class='bx bx-search'></i></button>
                            </div>
                        </div>

                        <div id="courses">
                            <div class="course" v-for="item in courses">
                                <figure class="image_figure">
                                    <img class="image" v-bind:src="item.image">
                                </figure>
                                <div class="info_container">
                                    <p>Subject: {{item.subject}}</p>
                                    <p>Location: {{item.location}}</p>
                                    <p>Price: ${{item.price}}</p>
                                    <p>Spaces: {{item.spaces}}</p>
                                    <button v-if="item.spaces > 0" v-on:click="add_to_cart(item)">Add To Cart</button>
                                    <button v-else disabled>Add To Cart</button>
                                </div>
                            </div>
                        </div>

                    </section>


                </section>
            </section>
            <section id="cart_page" v-else>
                <div id="Checkout">
                    <h2>Checkout Page</h2>
                    <button style="font-size: 1.15rem;" v-on:click="showCheckout">
                        <i class='bx bx-left-arrow-alt'></i>
                        Go back
                    </button>
                    <div>
                        <div class="input_container">
                            <label for="name">Name: </label>
                            <input type="text" v-model.trim="user_data.name">
                        </div>
                        <div class="input_container">
                            <label for="phone" pattern="[A-Za-z]">Phone: </label>
                            <input type="text" v-model.trim="user_data.phone">
                        </div>
                        <button v-if="canCheckout">Checkout</button>
                    </div>
                </div>
                <div id="cart_container">
                    <h2>Cart({{cartItemCount}})</h2>
                    <div id="courses">
                        <div class="course" v-for="item in cart">
                            <figure class="image_figure">
                                <img class="image" v-bind:src="item.item.image">
                            </figure>
                            <div class="info_container">
                                <p>Subject: {{item.item.subject}}</p>
                                <p>Location: {{item.item.location}}</p>
                                <p>Price: {{item.item.price}}</p>
                                <button  v-on:click="remove_from_cart(item)">Remove From Cart</button>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </main>
    </section>
</body>
<script src="index.js"></script>
<script type="text/javascript">
    const capitalize = (str) =>{
        if(str != '' & typeof(str) == "string"){
            let temp_str = str[0].toUpperCase()
            for(let i = 1; i < str.length; i++){
                temp_str += str[i] 
            }
            return temp_str
        }
        return null
    }

    const app = new Vue({
        el:"#app",
        computed:{
            cartItemCount(){
                return this.cart.length || "Empty";
            },
            canRemoveFromCart(){
                return this.cart.length > 0
            },
            search(){
                this.search_func(this.searchInput)
                console.log(this.searchInput)
                return true
            },
            canCheckout(){
                const letters = /^[A-Za-z]+$/;
                const numbers = /^[0-9]+$/;

                let valid = true
                if(this.user_data.name.match(letters) == null){
                    valid = false
                }

                if(this.user_data.phone.match(numbers) == null){
                    valid = false
                }

                if(valid){
                    return true
                }else{
                    return false
                }
            }
        
        },
        methods:{
            showCheckout(){
                this.showCourses = this.showCourses ? false : true
            },
            add_to_cart(item){
                for (let i = 0; i < courses.length; i++) {
                    const product= courses[i]
                    if(item.id == product.id){
                        item.spaces--
                    }
                }
                
                const id = `${item.subject[0]}`+item.id+`${item.location[0]}`+Math.ceil(Math.random()*1000000)
                let data = {
                    "id": id,
                    "item":item,
                }

                this.cart.push(data)
            },
            remove_from_cart(cart_item){
                for (let i = 0; i < courses.length; i++) {
                    const item = courses[i]
                    if(item.id == cart_item.item.id){
                        item.spaces++
                    }
                }
                for(let i = 0; i < this.cart.length; i++){
                    const item = this.cart[i]
                    if(cart_item.id == item.id){
                        this.cart.splice(i,1)
                        break;
                    }
                }
                
            },
            search_func(query){
                this.courses = [...courses]
                let val = this.sort_value.toLowerCase()
                if(val != "all" & query.trim() != '' & val != "availablity"){
                    if(val != "price"){
                        this.courses = this.courses.filter(x => x[val].toLowerCase().includes(query.toLowerCase()))
                    }else{
                        if(query.match(/^[0-9]+$/) != null){
                            this.courses = this.courses.filter(x => (''+x[val]).includes(query))
                        }
                    }
                    this.order_sort(this.sort_value)
                }

                
                if(query.trim() == ''){
                
                    this.order_sort(this.sort_value)
                }

            },
            order(value){
                this.courses = [...courses]
                this.order_value = value
                this.order_sort(this.sort_value)
            },
            sort(value){
                this.courses = [...courses]
                this.sort_value = value
                this.order_sort(value)
            },
            order_sort(criteria){

                criteria = criteria.toLowerCase()
                if(criteria != "all" ){
                    this.searchTerm = capitalize(criteria)
                    
                    if(criteria != "availablity"){
                        if(this.order_value == "Ascending"){
                            this.courses.sort((a,b)=>{
                                if(a[criteria] > b[criteria]){
                                    return 1
                                }
                                if(b[criteria] > a[criteria]){
                                    return -1
                                }
                                return 0
                            })
                        }else{
                            this.courses.sort((a,b)=>{
                                if(a[criteria] > b[criteria]){
                                    return -1
                                }
                            
                                if(b[criteria] > a[criteria]){
                                    return 1
                                }
                            
                                return 0
                            })
                        }
                    }else{
                        this.courses = [...this.courses.filter(x => x.spaces > 0)]
                    }
                }else{
                    console.log()
                    this.courses = [...courses]
                    this.searchTerm = "Please choose criteria eg. subject, location, price."
                }
            }
        },
        data:{
            sitename:"After School Activities Store",
            cart:[],
            courses: courses,
            showCourses:true,
            searchInput:"",
            order_value:"Ascending",
            order_dict:{
                "Ascending":{id:1,checked:true},
                "Descending":{id:2,checked:false}
            },
            sort_value:"All",
            sort_dict:{
                "All":{id:1,checked:true},
                "Subject":{id:2,checked:false},
                "Location":{id:3,checked:false},
                "Price":{id:4,checked:false},
                "Availablity":{id:5,checked:false}
            },
            user_data:{
                name:"",
                phone:""
            },
        }
    })
</script>
</html>