<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Activity Store</title>
</head>
<body>
    <section id="app">
        <header>
            <h1>{{sitename}}</h1>
        </header>
        <main>
            <section id="main_page" v-if="showProducts">
                <section style="display: flex; flex-direction: row; width: 100%;">
                    <section style="width: 30%;">
                        <h3>Filter & Order</h3>
                        <!-- div element to encapsulate the sorting div and order div -->
                        <div id="filters" style="display:flex; flex-direction: column; align-self: flex-start; width: 100%;">
                            <h3 style="margin: 0.5rem 0;">Filter</h3>
                            <!-- div element to encapsulate the sorting input radios -->
                            <div id="sort">
                                <div v-for="(value, key) in sort_dict">
                                    <input type="radio" name="sort" value="key" v-if="value.checked" checked v-on:click="sort(key)">
                                    <input type="radio" name="sort" value="key" v-else v-on:click="sort(key)">
                                    <label for="sort">{{key}}</label>
                                </div>
                            </div>
                            <h3 style="margin: 0.5rem 0;">Order</h3>
                            <!-- div element to encapsulate the order input radios -->
                            <div id="order">
                                <div v-for="(value, key) in order_dict">
                                    <input type="radio" name="order" value="key" v-if="value.checked" checked v-on:click="order(key)">
                                    <input type="radio" name="order" value="key" v-else v-on:click="order(key)">
                                    <label for="order">{{key}}</label>
                                </div>
                            </div>
                        </div>
                    </section>


                </section>
            </section>
            <section id="cart_page" v-else>

            </section>
        </main>
    </section>
</body>
<script type="text/javascript">
    const app = new Vue({
        el:"#app",
        computed:{
            showCheckout(){
                this.showProducts = this.showProducts ? false : true
            }
        },
        methods:{

        },
        data:{
            sitename:"After School Activities Store",
            cart:[],
            showProducts:true,
            order_value:"Ascending",
            order_dict:{
                "Ascending":{id:1,checked:true},
                "Descending":{id:2,checked:false}
            },
            sort_value:"All",
            sort_dict:{
                "All":{id:1,checked:true},
                "Subject":{id:2,checked:false},
                "Location":{id:3,checked:false},
                "Price":{id:4,checked:false}
            },
        }
    })
</script>
</html>